@import "../App.css";
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #fff;
  height: 60px
}
.navbar.scroll {
  background: black;
  padding: 10px;
}
.navbar-brand span{
  font-size: 3em;
  font-weight: 500;
  color: #f10722
}

.nav-item {display: inline-block;  
}

.nav-item a  {text-decoration: none
}

.navbar-brand .ecuador {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}
.navbar-nav {
  margin-top: 30px;
  padding: 0px 60px;
  margin-right: -40px
}
.nav-link {
  color: #fff !important;
  margin-left: 40px;
}
.nav-link:hover {
  color: #f10722 !important;
}
.nav-link::after {
  content: "";
  display: block;
  background: #f10722;
  height: 2px;
  width: 0px;
  transition: 0.3s;
  transform: translateX(20px)
}
.nav-link:hover::after {
  width: 80px;
}
